* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

Body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    transition-property: backgrond-image;
    transition-duration: 4s;
    height: 100vh;
    color: white;
}

#time {
    min-height: 200px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4d68ff, 0 0 40px #4d68ff, 0 0 50px #4d68ff, 0 0 60px #4d68ff, 0 0 70px #4d68ff;
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

#focus {
    opacity: 0.6;
}

@media(min-width:760px) {
    #time {
        transition: ease-in-out 0.3s;
        font-size: 8rem;
    }
}

@media(max-width:760px) {
    #time {
        transition: ease-in-out 0.3s;
        font-size: 5rem;
    }
}